{extend name="public/base"/}
{block name="body"}
<script src="__PUBLIC__/plugs/echart/echarts.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">

            <div class="panel-body">


                <div class="row">


                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                                服务器信息
                            </header>
                            <div class="panel-body" id="noti-box">

                                <table class="table">

                                    <tr>
                                        <th>服务器操作系统</th>
                                        <td>{$Think.const.PHP_OS}</td>
                                    </tr>
                                    <tr>
                                        <th>运行环境</th>
                                        <td>{$_SERVER['SERVER_SOFTWARE']}</td>
                                    </tr>
                                    <tr>
                                        <th>MYSQL版本</th>
                                        {php}$system_info_mysql = \think\Db::query("select version() as v;");{/php}
                                        <td>{$system_info_mysql.0.v}</td>
                                    </tr>
                                    <tr>
                                        <th>上传限制</th>
                                        <td>{:ini_get('upload_max_filesize')}</td>
                                    </tr>

                                </table>





                            </div>
                        </section>
                    </div>


                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <section class="panel">
                            <header class="panel-heading">
                                系统特点
                            </header>
                            <div class="panel-body">
                                 <table class="table">
                                     <tr>
                                         <td style="color:#ff2222">下载：交流群号： 616405640（群内还有自己开发的几套系统）</td>
                                     </tr>
                                     <tr>
                                         <td style="color:#ff2222">为了数据安全已屏蔽删除功能，会提示成功！但不会真正删除</td>
                                     </tr>
                                     <tr>
                                         <td>所用技术：bootstrap+layer弹窗</td>
                                     </tr>
                                     <tr>
                                         <td>简化查询条件列表，查询表单组件化。各种复杂搜索条件，几行代码搞定</td>
                                    </tr>
                                     <tr>
                                         <td>内置百度Echart柱状图折线图等图表功能，也已经封装成了组件,调用So Easy!</td>
                                     </tr>
                                     <tr>
                                         <td>输入自动提示，列表内文本编辑，下拉框编辑等功能也已经封装!</td>
                                     </tr>
                                     <tr>
                                         <td>弹出层和父窗口自动刷新，加个class即可搞定</td>
                                     </tr>



                                </table>





                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
{/block}





