{extend name="public/base"/}


{block name="body"}
{include file="admin@public/editcss" /}
<script src="__PUBLIC__/plugs/echart/echarts.min.js"></script>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                {include file="admin@public/searchbar" /}
                <div id="main" style="width: 800px;height:500px;"></div>
                {:widget('common/chart/linestack',array('main',$datearr,$chartdata,$meta_title))}
            </div>
        </section>
    </div>
</div>


{/block}
