{extend name="public/base"/}
{block name="body"}
<div class="row">
<header class="col-lg-12">

    <div class="pull-right">
        <a href="{:url('Config/group')}" class="btn btn-primary">
            <i class="icon icon-list"></i>
            配置管理
        </a>
        <a href="{:url('Config/add')}" class="btn btn-danger">
            <i class="icon icon-plus"></i>
            添加配置
        </a>
    </div>
</header>
</div>
<div class="row">

    <div class="col-lg-12">
         <section class="panel general">
             <div class="panel-heading tab-bg-dark-navy-blue">
                 <ul class="nav nav-tabs">
                     <li {if condition="!$group_id"}class="active"{/if}><a href="{:url('index')}">全部</a></li>
                     {volist name="group" id="item"}
                     <li {if condition="$group_id eq $key"}class="active"{/if}>
                     <a href="{:url('index?group='.$key)}">{$item}</a>
                     </li>
                     {/volist}
                 </ul>
             </div>

             <div class="panel-body">
                 <div class="tab-content">
                     <div class="tab-pane fade in active">
                         <div class="table-responsive clearfix">
                             <table class="table table-hover">
                                 <thead>
                                 <tr>
                                     <th class="row-selected">
                                         <input class="checkbox check-all" type="checkbox">
                                     </th>
                                     <th>ID</th>
                                     <th>名称</th>
                                     <th>标题</th>
                                     <th>分组</th>
                                     <th>类型</th>
                                     <th>操作</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 {notempty name="list"}
                                 {volist name="list" id="config"}
                                 <tr>
                                     <td><input class="ids row-selected" type="checkbox" name="id[]" value="{$config.id}"></td>
                                     <td>{$config.id}</td>
                                     <td><a href="{:url('edit?id='.$config['id'])}">{$config.name}</a></td>
                                     <td>{$config.title}</td>
                                     <td>{$group[$config['group']]|default=''}</td>
                                     <td>{$config['type_text']}</td>
                                     <td>
                                         <a title="编辑" href="{:url('edit?id='.$config['id'])}">编辑</a>
                                         <a class="confirm ajax-get" title="删除" href="{:url('del?id='.$config['id'])}">删除</a>
                                     </td>
                                 </tr>
                                 {/volist}
                                 {else/}
                                 <td colspan="7" class="text-center"> aOh! 暂时还没有内容!</td>
                                 {/notempty}
                                 </tbody>
                             </table>
                         </div>
                         {$page}
                     </div>
                 </div>
             </div>

        </section>
    </div>
</div>



{/block}
