<!--Footer-->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-brand">
                        <img src="__PUBLIC__/home/assets/images/logo.png" alt="logo" />
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">

                        <p>联系方式:QQ <b>123456789  </b>  电话:<b>1234567489</b>

                        </p>
                        <p>   备案号：{:config('web_site_icp')}</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>





<script src="__PUBLIC__/home/assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="__PUBLIC__/home/assets/js/vendor/bootstrap.min.js"></script>

</body>
</html>