<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$meta_title}-微信版，手机APP版</title>
    <meta name="keywords" content="开源多商户拼团系统,微信拼团系统,手机APP拼团系统">
    <meta name="description" content="多商户开源拼团系统,开源拼团系统,微信拼团系统开源,App端开源拼团系统，开源拼团系统">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/bootstrap.min.css">
    <!--For Plugins external css-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/plugins.css" />
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/roboto-webfont.css" />
    <!--Theme custom css -->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/style.css">
    <!--Theme Responsive css-->
    <link rel="stylesheet" href="__PUBLIC__/home/assets/css/responsive.css" />

    <script src="__PUBLIC__/home/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>



<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <a class="navbar-brand" href="/">
                <img src={:config("view_replace_str")["__PUBLIC__"]}/home/assets/images/logo.png alt="Logo" />
            </a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li {if $pageflag=="index"} class="active" {/if}><a href="/">首页</a></li>
                <li ><a href="/#business">核心亮点</a></li>
                <li {if $pageflag=="func"} class="active" {/if}><a href="/func">功能列表</a></li>
                <li {if $pageflag=="download"} class="active" {/if}><a href="/download">源码下载</a></li>

                <li class="login"><a href="#">登录</a></li>
            </ul>

        </div>
    </div>
</nav>